@charset "utf-8";
/* CSS Document */

.kbd_settings a
{
	cursor:pointer;
}


.kbd_settings medium.expected


{


	float:right;


}


.kbd_settings .useful_link{

	margin-left:10px;
	float:right;
}
.kbd_settings .flower_img{
	float: left;
    left: -6px;
    position: relative;
    top: 12px;
    width: 3%;
}	

.kbd_settings ul.kbd_rc  li.tick,
.kbd_settings ul.kbd_rc  li.cross{
    background: transparent url('tick_cross.png') no-repeat 0px 3px;
    list-style-type: none;   
    padding: 0 0 0 22px;
}
.kbd_settings ul.kbd_rc  li.cross{
	background-position:0px -14px;
}

.kbd_settings .hide{
	display:none;
}

.kbd_manual_download{
    font-size: 36px;
    line-height: 46px;
    padding: 24% 0 0;
    text-align: center;
    width: 100%;
}

.kbd_rc_console{
    border-color: #6D6D6D;
    border-style: solid;
    border-width: 1px;
    float: right;
    width: 216px;
	overflow:hidden;
	
}
.kbd_rc_console strong{
    background-color: #6D6D6D;
    color: #FFFFFF;
    float: left;
    padding: 6px 22px;
	width:100%;
	margin-bottom:10px;
}
.kbd_rc_console .kbd_rc,
.kbd_rc_console .kbd_rd{
    float: left;
    margin-left: 22px;
}
.kbd_rc_console .kbd_rd a{
    text-decoration: none;

}
.kbd_rc_console .kbd_rd a:hover{
    text-decoration: underline;
} 
.kbd_rc_console .bottom_links{
    clear: both;
    padding: 0px 4px;
    text-align: right;
}
.kbd_rc_console .kbd_comments{
    font-size: 10px;
	text-decoration:none;
}
.kbd_rc_console .kbd_comments:hover{
	text-decoration:underline;
}
.kbd_settings .form-table td{
	vertical-align:top;
}
.kbd_settings label{
	font-weight:normal;
}
.kbd_settings .form-table th,
.kbd_settings .form-table th label{
	font-weight:bold;
}