@charset "utf-8";
/* CSS Document */

.kbd_settings a
{
	cursor:pointer;
}


.kbd_settings medium.expected


{


	float:right;


}


.kbd_settings .useful_link{

	margin-left:10px;
	float:right;
}
.kbd_settings .flower_img{
	float: left;
    left: -6px;
    position: relative;
    top: 12px;
    width: 3%;
}	

.kbd_settings ul.kbd_rc  li.tick,
.kbd_settings ul.kbd_rc  li.cross{
    background: transparent url('tick_cross.png') no-repeat 0px 3px;
    list-style-type: none;   
    padding: 0 0 0 22px;
}
.kbd_settings ul.kbd_rc  li.cross{
	background-position:0px -14px;
}

.kbd_settings .hide{
	display:none;
}

.kbd_manual_download{
    font-size: 36px;
    line-height: 46px;
    padding: 24% 0 0;
    text-align: center;
    width: 100%;
}